input[class='checkgreen'] {
  border-radius: 2px;
  margin-bottom: -0.1%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
}

.checkgreen:checked:before{
  background-color: green;
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[class='checkorange'] {
  border-radius: 2px;
  margin-bottom: -0.1%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
}

.checkorange:checked:before{
  background-color: orange;
  content: "!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[class='checkred'] {
  border-radius: 2px;
  margin-bottom: -0.1%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
}

.checkred:checked:before{
  background-color: red;
  content: "✖";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: none
}