#checklist li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  #checklist input[type="checkbox"] {
    margin-right: 10px;
  }
  
  #checklist span {
    /* Voeg eventuele aangepaste stijlen toe voor de checklist-tekst */
  }